.to_top {


}
@include break_point(map-get($global-width, break-point-b)) {
.to_top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: none;
  opacity: 0;
  transition: all map-get($global-animation-speed, a) ease-in-out;
  &.is_shown {
    display: block;
    opacity: 1;
  }
}
}