/**********************************
	border
**********************************/
@mixin bd($width, $style, $color) {
  border: $width $style $color;
}

@mixin bdt($width, $style, $color) {
  border-top: $width $style $color;
}

@mixin bdr($width, $style, $color) {
  border-right: $width $style $color;
}

@mixin bdb($width, $style, $color) {
  border-bottom: $width $style $color;
}

@mixin bdl($width, $style, $color) {
  border-left: $width $style $color;
}

/**********************************
	break-point
**********************************/
@mixin break_point($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

/**********************************
	
**********************************/
@mixin stripe($stripe_color, $deg, $bg-color, $bg-size) {
  background-image: linear-gradient(
    $deg,
    $bg-color 25%,
    $stripe_color 25%, $stripe_color 50%,
    $bg-color 50%, $bg-color 75%,
    $stripe_color 75%, $stripe_color
  );
  /* 幅8px、高さ8pxで背景画像のサイズを指定 */
  background-size: $bg-size $bg-size;
}

@mixin clearfix() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


