mixin breadcrumb(list)
  <div class="breadcrumb">
    <ul class="breadcrumb_list">
      - for(var k = 0; k < list.length; k++) {
      - item = list[k]
        <li class="item">
          <a href=#{base_path + item.link}>#{item.name}</a>
        </li>
      - };
    </ul>
  </div>
