mixin item_b(index)
  <li class="item item_b">
    <a href="#">
      <div class="visual_video_wrap">
        - if (index < 4){
        .rank_label(class='label_'+ index)
        - }
        <div class="visual_video"><img src=#{path_icon + 'play.svg'} alt=""></div>
        <div class="visual" style="background-image: url(#{path_dammy + 'item/a_01.png'})"></div>
      </div>
      <div class="detail">
        - if (index < 4){
        .rank_num
          img(src=path_icon + 'rank_'+ index +'.svg' alt="rank" + index)
          span(class='color_' + index)
            ="No." + index
        - }
        <p class="title x_clamp_title">タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</p>
      </div>
    </a>
  </li>