mixin item_a()
  <li class="item item_a">
  <a href="./detail.html">
  <div class="hoge"> <!-- to do fix the class name -->
  <div class="visual" style="background-image: url(#{path_dammy + 'item/a_01.png'})"></div>
  <div class="detail">
  <p class="title">タイトルタイトル<span class="time"></span></p>
  <ul class="area_list">
  - for (var j = 0; j < 3; j++) {
  <li class="item">地域</li>
  -}
  </ul>
  </div>
  </div>
  <div class="cover">
  <p class="title">タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</p>
  <p class="description">詳細詳細詳細詳細詳細詳細詳細</p>
  </div>
  </a>
  </li>