mixin modal(className, title, text, is_normal)
  .modal.is_hidden.x_modal(class=className)
    .modal_dialog
      .modal_background
      .modal_content
        .modal_header
          p
            = is_normal ? '確認' : title
          img.icon_close.x_close(src= '../../image/icon/close.svg')
        .modal_body
          - if(is_normal){
          p.align_left
            =text
          .modal_footer
            button.button.secondary.x_cancel
              | 取消
            button.button.primary.x_confirm
              | OK
          - } else {
          p.description
            = '一部コンテンツをご利用いただくにはログイン・新規登録が必要です。'
          .text_container
            p.description
              ='SNSアカウントでログイン・新規登録'
            .wrapper
              include ../includes/_third_side_login_button
              p.sub_text
                | メールアドレスでの
                a(href='/login/login.html?isDev=true')
                  | ログイン
                span
                  | ・
                a(href='/login/register.html?isDev=true')
                  | 新規登録はこちら
          - }