-
  var path_module = path_image + 'global_navi/';
  var path_icon =  base_path + '/image/icon/';
  data.navi =[
    {
      "name": "TOP",
      "link": "#",
    },
    {
      "name": "特集",
      "link": "#",
    },
    {
      "name": "ルート",
      "link": "#",
    },
    {
      "name": "お得パス",
      "link": "#",
    },
    {
      "name": "HOW TO",
      "link": "#",
    }
  ]
-
<div class="footerl_navi">
  <div class="wrapper">
    <nav class="nav">
      <ul class="nav_list">
        - for (var i = 0; i < data.navi.length; i++) {
        - var item = data.navi[i]
          <li class="item">
            <a href=#{item.link}>#{item.name}</a>
          </li>
        -}
      </ul>
    </nav>
  </div>
</div>