-
  data.type =[
    {
      "name": "すべて",
      "value": "all"
    },
    {
      "name": "特集",
      "value": "NEWS",
    },
    {
      "name": "トラベルプラン",
      "value": "ROUTE",
    },
    {
      "name": "お得なパス",
      "value": "PASS",
    },
    {
      "name": "HOW TO",
      "value":"HOWTO"
    }
  ]
-

.search_select.x_search_select
  p.current.x_current_search_key
  ul.select_list
    - for (var i = 0; i < data.type.length; i++) {
    - var item = data.type[i]
    li.x_search_key_item(data-value =item.value class="search_key_"+item.value)
      =item.name
    -}
