.side_bar.x_side_bar
  .wrapper
    section.content.side_content
      h3 お知らせ
      div
        a.item(href="#")
          span.flag_new.notice_time 2018.09.09
          p.text ああああああああああああああああああああああああ
        a.item(href="#")
          span.flag_new.notice_time 2018.09.09
          p.text ああああああああああああああああああああああああ
        a.item(href="#")
          span.flag_new.notice_time 2018.09.09
          p.text  ああああああああああああああああああああああああ
      .side_footer
        a(href="#") もっと見る
    include _rank_side_bar