<section class="content content_news_list">
  <div class="wrapper x_news_list">
    <h2 class="content_header">新着記事</h2>
    <div class="content_body">
      <ul class="news_list x_render_parent"></ul>
      include ../includes/_loading
    </div>
  </div>
</section>