section.content
  <div class="wrapper summary">
    //<h5>エンディング</h5>
    <p class='description'>“うまいすしを、腹いっぱい。うまいすしで、心もいっぱい“を企業理念に、鮮度にこだわった仕入れが自慢のスシロー。また店舗では店内調理のひと手間をかけ、新鮮なネタを新鮮なままお客様に提供しています。また、一定の距離を回ったお寿司を自動的に廃棄するシステムは、スシロー独自の特許技術。いつでも美味しいお寿司をいただくことができます。</p>
  </div>