<section class="content content_related_article show_sp">
  <div class="wrapper">
    <h3 class="content_header">関連記事</h3>
    <div class="content_body">
      <ul class="news_list" >
      - for (var i = 0; i < 4; i++) {
        +item_b(item)
      -}
      </ul>
    </div>
  </div>
</section>