<div class="side_bar x_side_bar sub_content">
  <div class="wrapper">
    <section class="content content_search">
      <div class="wrapper">
        <div class="search">
          include ../includes/_search_select
          <input type="text" placeholder="" class="x_global_search_input">
          <a href="javascript:void(0);" class="search_button">検索</a>
        </div>
      </div>
    </section>
    include ../includes/_rank_side_bar
  </div>
</div>
